* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header a img {
    height: 92px;
    margin: 26px 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input[type="text"] {
    flex-grow: 1;
    height: 44px;
    padding: 0 16px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-right: 8px;
}

button[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    height: 44px;
    padding: 0 16px;
    cursor: pointer;
    margin-right: 8px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    border: 2px solid black;
    padding: 25px;
    color: white;
    /* background-color: bisque; */
    border-radius: 10px;
    font-size: 14px;
    color: #737373;
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin: 0 16px;
}

footer {
    background-color: #f2f2f2;
    padding: 16px;
}

footer nav {
    margin: 25px ;
    display: flex;
    gap: 22px;
}

footer nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    font-size: 22px;
    height: 200px;
    width: 160px;
    color: #737373;
    text-decoration: none;
    box-shadow: 16px 20px 25px 4px rgba(92, 81, 81, 0.514);
}

footer nav a:last-child {
    margin-right: 0;
}
@media(max-width:600px){
    nav a {
        border: 2px solid black;
        padding: 7px;
        color: white;
        background-color: bisque;
        border-radius: 8px;
        font-size: 14px;
        color: #737373;
        text-decoration: none;
    }
    footer nav a {
        width: 100%;
        margin-right: 10px;
        font-size: 14px;
        color: #737373;
        text-decoration: none;
    }
    footer nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        background-color: #f2f2f2;
        padding: 6px;
        margin-right: -30px;
    }
}

#user{
    position: absolute;
    top: 0.5%;
    right: 1%;
}

#usericon{
    height: 60px;
    border-radius: 100%;
}

.apps{
    color: black;
}
#fb{
    background-image:linear-gradient(rgb(207, 222, 250),rgb(107, 106, 204));
}
#mesn{
    background-image: linear-gradient(rgb(169,143,218) , rgb(231, 73 ,73));
}
#wp{
    background-image:linear-gradient(rgb(40, 207, 82),rgb(16, 104, 4));
}
#in{
    background-image:linear-gradient(red,rgb(107, 106, 204));
}